---
import Base from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import HeroDannaway from "../components/HeroDannaway.astro";
import WorkGrid from "../components/WorkGrid.astro";
import SiteFooter from "../components/SiteFooter.astro";
---
<Base title="David Cano | Product designer & front end developer">
  <NavBar />
  <div id="content" class="content home">
    <HeroDannaway />
    <WorkGrid />
  </div>
  <SiteFooter />
</Base>
