<section id="certificaciones" class="mt-20 text-white text-center">
  <h2 class="text-3xl font-bold mb-8"> Certificaciones</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-8">
    <!-- Certificaci贸n 1 -->
    <div class="bg-gray-800 rounded-lg p-4 shadow-md">
      <img src="/certs/databases.png" alt="IT Specialist Databases" class="w-full h-40 object-contain mx-auto" />
      <h3 class="text-xl font-semibold mt-4">IT Specialist - Databases</h3>
      <p class="text-sm mt-2 text-gray-300">Certiport - Pearson VUE Business</p>
      <p class="text-sm">Expedici贸n: Jun. 2025 - Vencimiento: Jun. 2030</p>
      <p class="text-sm mt-1 italic">Aptitudes: Bases de datos, Data Storage</p>
      <a href="/Cert50285416545.pdf" target="_blank" class="text-blue-400 hover:underline block mt-2">Ver credencial</a>
    </div>

    <!-- Certificaci贸n 2 -->
    <div class="bg-gray-800 rounded-lg p-4 shadow-md">
      <img src="/certs/java.png" alt="IT Specialist Java" class="w-full h-40 object-contain mx-auto" />
      <h3 class="text-xl font-semibold mt-4">IT Specialist - Java</h3>
      <p class="text-sm mt-2 text-gray-300">Certiport - Pearson VUE Business</p>
      <p class="text-sm">Expedici贸n: Jun. 2025 - Vencimiento: Jun. 2030</p>
      <p class="text-sm mt-1 italic">Aptitudes: Java</p>
      <a href="/Cert10285437213.pdf" target="_blank" class="text-blue-400 hover:underline block mt-2">Ver credencial</a>
    </div>

    <!-- Certificaci贸n 3 -->
    <div class="bg-gray-800 rounded-lg p-4 shadow-md">
      <img src="/certs/artist.png" alt="Unity Artist" class="w-full h-40 object-contain mx-auto" />
      <h3 class="text-xl font-semibold mt-4">Unity Certified User: Artist</h3>
      <p class="text-sm mt-2 text-gray-300">Unity</p>
      <p class="text-sm">Expedici贸n: Jun. 2025 - Vencimiento: Jun. 2030</p>
      <a href="/Cert39085445807.pdf" target="_blank" class="text-blue-400 hover:underline block mt-2">Ver credencial</a>
    </div>

    <!-- Certificaci贸n 4 -->
    <div class="bg-gray-800 rounded-lg p-4 shadow-md">
      <img src="/certs/programmer.png" alt="Unity Programmer" class="w-full h-40 object-contain mx-auto" />
      <h3 class="text-xl font-semibold mt-4">Unity Certified User: Programmer</h3>
      <p class="text-sm mt-2 text-gray-300">Unity</p>
      <p class="text-sm">Expedici贸n: Jun. 2025 - Vencimiento: Jun. 2030</p>
      <p class="text-sm mt-1 italic">Aptitudes: C#</p>
      <a href="/Cert83285454762.pdf" target="_blank" class="text-blue-400 hover:underline block mt-2">Ver credencial</a>
    </div>
  </div>
</section>
