---
import "../styles/global.css";
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="es" class="bg-animated text-white min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen flex flex-col">
    <slot />
    
  <script src="/js/config.music.js" defer></script>
<script src="/js/desktop.js" defer></script>
<script src="/js/music.js" defer></script>

  

  </body>

  
</html>
